.navbar {
    background-color: rgb(12, 12, 160);
    border-top: 2px solid white;
    width: 100%;
    font-size: 1.3rem;
    z-index: 1; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 2rem;
}

.navbar a {
    color: white;
}

.nav-item .active {
    border-bottom: 2px solid white;
}

@media screen and (max-width: 600px) {
    .navbar ul {
        display: none;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 2rem;
        position: absolute;
        top: 1.8rem;
        bottom: 0;
        height: 10%;
        min-height: 2rem;
        right: 5%;
    }

    .mobile-menu-item {
        width: 80%;
        height: 3px;
        background-color: white;
        border-radius: 25px;
    }

    .mobile-links {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        gap: .5rem;
        padding: .5rem 0;
    }

    .mobile-links > *:active {
        background-color: var(--red);
        width: 100%;
    }

    .mobile-links a {
        color: white;
    }
}

@media screen and (min-width: 1800px) {
    .nav-item a {
        font-size: 1.8rem;
    }
}